rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /Usuarios/{userId} {
      // Permite que qualquer um crie um documento (para registrar o usuário)
      allow create: if true;

      // Permite que qualquer um leia (para fazer a verificação de e-mail duplicado)
      allow read: if true;

      // Permite que só o próprio usuário autenticado altere ou delete seu documento
      allow update, delete: if request.auth != null && request.auth.uid == userId;
    }

    // Bloqueia qualquer outro acesso às outras coleções/documentos
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
